<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-unix"><a href="https://swcarpentry.github.io/shell-novice/">The Unix Shell</a></h3>
    <ul>
      <li><a href="https://swcarpentry.github.io/shell-novice/01-intro/index.html">Introducing the Shell</a></li>
      <li><a href="https://swcarpentry.github.io/shell-novice/02-filedir/index.html">Navigating Files and Directories</a></li>
      <li><a href="https://swcarpentry.github.io/shell-novice/03-create/index.html">Working With Files and Directories</a></li>
      <li><a href="https://swcarpentry.github.io/shell-novice/04-pipefilter/index.html">Pipes and Filters</a></li>
      <li><a href="https://swcarpentry.github.io/shell-novice/05-loop/index.html">Loops</a></li>
      <li><a href="https://swcarpentry.github.io/shell-novice/06-script/index.html">Shell Scripts</a></li>
      <li><a href="https://swcarpentry.github.io/shell-novice/07-find/index.html">Finding Things</a></li>
      <li><a href="https://swcarpentry.github.io/shell-novice/reference.html">Reference...</a></li>
    </ul>
  </div>
</div>
